<div class="row">
    <div class="col-sm-4"></div>
  <div class="col-sm-4">

      <div class="card screencenter">
          <div class="card-header text-center text-primary myfont">
              LogIn
            </div>
            <div class="card-body">
                <form  [formGroup]="myangForm" (ngSubmit)="login()">
                 
                      <div class="form-group">
                          <label for="inputsm">Email:</label>
                          <input class="form-control inputsm"  placeholder="Email" type="text" ng-trim="true"  class="form-control" formControlName="myemail"  autocomplete="off" required>
                        </div>
  
                        <div class="form-group">
                            <label for="inputsm">Password:</label>
                            <input class="form-control inputsm" placeholder="Password"  ng-trim="true"  class="form-control"  type="password" formControlName="pwd" autocomplete="off" required>                            
                          </div> 

                          <div class="form-group">
                                <button type="submit"  [disabled]="!myangForm.valid" class="btn btn-primary">LogIn</button>                             
                            </div>
                          </form>  
              </div>           
      </div>
  </div>
  <div class="col-sm-04"></div>
  </div>
