<div class="row">
    <div class="col-sm-4"></div>
  <div class="col-sm-4">

      <div class="card screencenter">
          <div class="card-header text-center text-primary myfont">
              Register
            </div>
            <div class="card-body">
                <form  [formGroup]="angForm" (ngSubmit)="Reg()">
                  <div class="form-group">
                    <label for="inputsm">First Name:</label>
                    <input class="form-control inputsm"  placeholder="Firstname" type="text"  ng-trim="true"  class="form-control"   autofocus="true" formControlName="fname" autocomplete="off" required>                    
                  </div>
  
                  <div class="form-group">
                      <label for="inputsm">Last Name:</label>
                      <input class="form-control inputsm"   placeholder="Lastname" type="text"  ng-trim="true"  class="form-control"  formControlName="lname" autocomplete="off" required>
                      <!-- <div *ngIf="submitted && f.Lastname.errors" class="invalid-feedback">
                        <div *ngIf="f.Lastname.errors.required">Lastname is required</div>
                    </div> -->
                    </div>
  
                    <div class="form-group">
                        <label for="inputsm">Phone Number:</label>
                        <input class="form-control inputsm" placeholder="Phonenumber" type="number" ng-trim="true"  class="form-control" formControlName="phnumber" autocomplete="off" minlength="10" maxlength="10" required>
                        <!-- <div *ngIf="submitted && f.Phonenumber.errors" class="invalid-feedback">
                            <div *ngIf="f.Phonenumber.errors.required">Phonenumber is required</div>
                        </div> -->
                      </div>
  
                      <div class="form-group">
                          <label for="inputsm">Email:</label>
                          <input class="form-control inputsm"  placeholder="Email" type="Email"  ng-trim="true"  class="form-control" formControlName="myemail"  autocomplete="off" required>
                          <!-- <div *ngIf="submitted && f.Email.errors" class="invalid-feedback">
                            <div *ngIf="f.Email.errors.required">Email is required</div>
                        </div> -->
                        </div>
  
                        <div class="form-group">
                            <label for="inputsm">Password:</label>
                            <input class="form-control inputsm" placeholder="Password"  ng-trim="true"  class="form-control"  type="password" formControlName="pwd" autocomplete="off" required>
                            <!-- <div *ngIf="submitted && f.Password.errors" class="invalid-feedback">
                                <div *ngIf="f.Password.errors.required">Password is required</div>
                            </div> -->
                          </div> 

                          <div class="form-group">
                                <button type="submit"  [disabled]="!angForm.valid" class="btn btn-primary">Signup</button>                             
                            </div>

                          </form>
  
              </div>
            <div class="card-footer text-right">
            <a routerLink="/login">login</a>
            </div>
      </div>

  </div>
  <div class="col-sm-04"></div>
  </div>
